node_modules
target/

pax-chassis-macos/pax-dev-harness-macos/build
pax-example/.pax/chassis/
pax-example/build/

**/*.rs.bk
Cargo.lock
.DS_Store
.cargo

## VScode project configuration files
.vscode/

pax-chassis-macos/pax-dev-harness-macos/pax-dev-harness-macos.xcodeproj/project.xcworkspace/xcuserdata/**/*
pax-chassis-macos/pax-dev-harness-macos/pax-dev-harness-macos.xcodeproj/xcuserdata/**/*
