node_modules
pax-compiler/files/interfaces/web/public/pax-interface-web.js
pax-compiler/files/interfaces/web/package-lock.json
target/
vendor/

.swiftpm
.build


xcuserdata

pax-chassis-macos/interface/build
pax-example/build
pax-example/.pax/
pax-create-sandbox/
examples/src/*/.pax/
tests/src/*/.pax/

**/*.rs.bk
Cargo.lock
.DS_Store
*/.DS_Store
.cargo

## VScode project configuration files
.vscode/

pax-chassis-macos/interface/interface.xcodeproj/project.xcworkspace/xcuserdata/**/*
pax-chassis-macos/interface/interface.xcodeproj/xcuserdata/**/*

pax-chassis-web/interface/