node_modules
target/
vendor/

.swiftpm
.build


xcuserdata

pax-chassis-macos/interface/build
pax-example/build
pax-example/.pax/
pax-create-sandbox/
examples/src/*/.pax/


**/*.rs.bk
Cargo.lock
.DS_Store
.cargo

## VScode project configuration files
.vscode/

pax-chassis-macos/interface/interface.xcodeproj/project.xcworkspace/xcuserdata/**/*
pax-chassis-macos/interface/interface.xcodeproj/xcuserdata/**/*
