[package]
name = "CRATE_NAME"
version = "VERSION_PLACEHOLDER"
edition = "2021"
default-run = "run"

[dependencies]
pax-engine = { version="VERSION_PLACEHOLDER" }
pax-std = { version="VERSION_PLACEHOLDER" }
pax-compiler = {version = "VERSION_PLACEHOLDER"}
pax-manifest = { version="VERSION_PLACEHOLDER" }
serde_json = {version = "1.0.95", optional = true}


[[bin]]
name = "run"
path = "bin/run.rs"

