{% import "macros.tera" as macros %}
{% if template %}
    {% for root_node in template.root %}
        {{ macros::render_template_node(node_map=template.nodes, children=template.children, node_id=root_node) }}
    {% endfor %}
{% endif %}

{% if settings %}
@settings {
    {% for settings_block_element in settings %}
        {% if settings_block_element.SelectorBlock %}
            {{settings_block_element.SelectorBlock.0.token_value}}{{macros::render_literal_block(lb=settings_block_element.SelectorBlock.1)}},
        {% elif settings_block_element.Comment %}
            {{settings_block_element.Comment}}}
        {% elif settings_block_element.Handler %}
            @{{settings_block_element.Handler.0.token_value}}:
            {% if  settings_block_element.Handler.1 | length() >  1 %}
                [
                    {% for handler in settings_block_element.Handler.1 %}
                        {{handler.token_value}} {%- if not loop.last -%},{% endif -%}
                    {% endfor %}
                ]
            {% else %}
                {{settings_block_element.Handler.1[0].token_value}}
            {% endif %}
        {% elif settings_block_element.Transition %}
            @{{settings_block_element.Transition.0.token_value}}: {{settings_block_element.Transition.1.token_value}}
        {% endif %}
    {% endfor %}
}
{% endif %}

{% if timelines and timelines | length > 0 %}
    {% for timeline in timelines %}
@timeline{% if timeline.name %} {{ timeline.name.token_value }}{% endif %} {
        {% if timeline.playhead %}
            playhead: {{ macros::render_value_definition(vd=timeline.playhead) }},
        {% endif %}
        {% if timeline.frames %}
            frames: {{ timeline.frames }},
        {% endif %}
        {% if not timeline.repeat %}
            loop: false,
        {% endif %}
        {% for timeline_block_element in timeline.elements %}
            {% if timeline_block_element.SelectorBlock %}
                {{ timeline_block_element.SelectorBlock.0.token_value }}{{ macros::render_timeline_selector_block(block=timeline_block_element.SelectorBlock.1) }},
            {% elif timeline_block_element.Comment %}
                {{ timeline_block_element.Comment }}
            {% endif %}
        {% endfor %}
}

    {% endfor %}
{% endif %}
