[package]
name = "CRATE_NAME"
version = "VERSION_PLACEHOLDER"
edition = "2021"
default-run = "run"

[dependencies]
pax-kit = { version = "VERSION_PLACEHOLDER", path = "../../../pax-kit" }
rand = { version = "0.8.5" }
getrandom = { version = "0.2.15", features = ["js"] }

[lib]
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "run"
path = "bin/run.rs"
