files/interfaces/macos/pax-app-macos/pax-app-macos.xcodeproj/xcuserdata
files/interfaces/web/node_modules
files/interfaces/web/pax-interface-web.js
files/interfaces/web/pax-interface-web.css
src/.DS_Store
files/interfaces/web/package-lock.json
