html, body, #mount, canvas, .native-overlay{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mount {
    position: relative;
}


.canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.scroller-container {
    position: relative;
    overflow: auto;
    pointer-events: auto;
}

.inner-pane {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.native-overlay {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
}

.native-overlay:focus {
    outline: none;
}

.native-leaf {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: top left;
    pointer-events: auto;
    position: absolute;
    will-change: transform;
    backface-visibility: hidden;
}

.native-leaf {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: top left;
    pointer-events: ;
    position: absolute;
    will-change: transform;
    backface-visibility: hidden;
}

.clipping-container {
    position: absolute;
    top: 0;
    left: 0;
}

.native-clipping {
    position: absolute;
}

.button-text-container {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.button-styles {
    margin: 0;
    padding: 0;    
    --hover-color: blue;
    border-style: solid;
}

.button-styles:hover {
    background-color: var(--hover-color) !important;
}

.checkbox-styles {
    --checked-color: magenta;
    type: checkbox;
    margin: 0;
    padding: 0; 
    appearance: none;
    border-style: solid;
}

.checkbox-styles:checked {
    background-color: var(--checked-color) !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-2 0 20 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-size: 80% !important;
    background-position: center !important;
    border-color: transparent !important;
}

.radio-set-style {
    background: var(--background-color);
    border-width: var(--border-width);
    border-color: var(--border-color);
    type: radio;
    margin: 0px 10px 0px 3px;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    appearance: none;
    border-style: solid;
}

.radio-set-style:checked {
    background-color: var(--selected-color) !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-color: transparent !important;
}

input {
    padding: 1px 4px 1px 4px;
}
